OPENAI_API_KEY=your_OPENAI_API_KEY_here
DEEP_SEEK_API_KEY=sk-your-deepseek-key-here
NEXT_PUBLIC_LLM_PROVIDER=openai


# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_SERVICE_ROLE_KEY
