@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: copilot --default, dark --prefersdark;
}

[data-theme='copilot'] {
  --p: 0.744 0.19 45;
  --pc: 1 0 0;

  --a: 0.77 0.12 205;
  --ac: 1 0 0;

  --b1: 1 0 0;
  --b2: 0.985 0.006 255;
  --b3: 0.96 0.01 255;
  --bc: 0.24 0.02 255;

  --n: 0.28 0.02 255;
  --nc: 1 0 0;

  --in: 0.74 0.12 235;
  --inc: 1 0 0;
  --su: 0.76 0.16 150;
  --suc: 1 0 0;
  --wa: 0.86 0.17 80;
  --wac: 0.2 0.02 80;
  --er: 0.71 0.18 25;
  --erc: 1 0 0;

  --rounded-box: 1rem;
  --rounded-btn: 0.8rem;
  --rounded-badge: 9999px;
  --animation-btn: 0.2s;
  --animation-input: 0.2s;
  --btn-focus-scale: 0.99;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.8rem;
}
